{% extends 'mainapp/base.html' %}

{% block title %}Создать Задачу{% endblock %}

{% block content %}
<div class="container">
    <div class="row bg-for-crud">
        <h1 class="text-center mb-5 mt-5">Создать Задачу</h1>
        <div class="col-sm-6 mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-dark mb-5" type="submit">Создать</button>
                </div>
                {{ form.errors }}
            </form>
        </div>
    </div>
</div>
{% endblock %}