{% extends 'mainapp/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mb-5">
            <h1>{{ project.name }}</h1>
            <p>{{ project.description|safe }}</p>
        </div>

        <h4>Текущие задачи</h4>
        {% if project.task_set.all %}
            {% for tasks in project.task_set.all %}
                <div class="col-md-6 mt-3"> 
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ tasks.title }}</h5>
                            <strong>Описание</strong>: {{ tasks.description|safe }}
                            <p class="card-text"><strong>Начало</strong>: {{ tasks.started }}</p>
                            <p class="card-text"><strong>Дедлайн</strong>: {{ tasks.deadline }}</p>
                            <p class="card-text"><strong>Приоритет</strong>: 
                                {% if tasks.priority == 'Низкий' %} <i class="fa-solid fa-square fa-sm" style="color: #11d031;"></i>
                                    {{ tasks.priority }}
                                {% elif tasks.priority == 'Средний' %} <i class="fa-solid fa-square fa-sm" style="color: #cc9d19;"></i>
                                    {{ tasks.priority }}
                                {% elif tasks.priority == 'Высокий' %} <i class="fa-solid fa-square fa-sm" style="color: #e240dd;"></i>
                                    {{ tasks.priority }}
                                {% elif tasks.priority == 'Наивысший' %} <i class="fa-solid fa-square fa-sm" style="color: #d02525;"></i>
                                    {{ tasks.priority }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>На данный момент задач не найдено!</h5>
        {% endif %}
    </div>
</div>
{% endblock %}