{% extends 'mainapp/base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mb-5">
            <h1>{{ project.name }}</h1>
            <p>{{ project.description|safe }}</p>
        </div>

        <h4>Текущие задачи</h4>

        {% if project.task_set.all %}
            {% if project.user == user %}
                <a href="{% url 'mainapp:create_task' project.slug %}">Создать Новую</a>
            {% elif group_details|length == 0 %}
            {% elif perms.mainapp.add_task %}
                <a href="{% url 'mainapp:create_task' project.slug %}">Создать Новую</a>
            {% endif %}
            {% for tasks in project.task_set.all %}
                <div class="col-md-6 mt-3"> 
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ tasks.title }}</h5>
                            <strong>Описание</strong>: {{ tasks.description|safe }}
                            <p class="card-text"><strong>Начал</strong>: {{ tasks.user }}</p>
                            <p class="card-text"><strong>Начало</strong>: {{ tasks.started }}</p>
                            <p class="card-text"><strong>Дедлайн</strong>: {{ tasks.deadline }}</p>
                            <p class="card-text"><strong>Приоритет</strong>: 
                                {% if tasks.priority == 'Низкий' %} <i class="fa-solid fa-square fa-sm" style="color: #11d031;"></i>
                                    {{ tasks.priority }}
                                {% elif tasks.priority == 'Средний' %} <i class="fa-solid fa-square fa-sm" style="color: #cc9d19;"></i>
                                    {{ tasks.priority }}
                                {% elif tasks.priority == 'Высокий' %} <i class="fa-solid fa-square fa-sm" style="color: #e240dd;"></i>
                                    {{ tasks.priority }}
                                {% elif tasks.priority == 'Наивысший' %} <i class="fa-solid fa-square fa-sm" style="color: #d02525;"></i>
                                    {{ tasks.priority }}
                                {% endif %}
                            </p>

                            {% if project.user == user %}
                                <form class="float-end ms-2" action="{% url 'mainapp:delete_task' project.slug tasks.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-success">Удалить</button>
                                </form>
                                <a class="btn btn-outline-success float-end" href="{% url 'mainapp:edit_task' project.slug tasks.id %}">Редактировать</a>
                            {% elif group_details|length == 0 %}
                            {% elif perms.mainapp.change_task %}
                                <form class="float-end ms-2" action="{% url 'mainapp:delete_task' project.slug tasks.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-success">Удалить</button>
                                </form>
                                
                                <a class="btn btn-outline-success float-end" href="{% url 'mainapp:edit_task' project.slug tasks.id %}">Редактировать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            {% if project.user == user %}
                <h5>На данный момент задач не <a href="{% url 'mainapp:create_task' project.slug %}">найдено!</a></h5>
            {% elif group_details|length == 0 %}
                <h5>На данный момент задач не найдено!</h5>
            {% elif perms.mainapp.add_task %}
                <h5>На данный момент задач не <a href="{% url 'mainapp:create_task' project.slug %}">найдено!</a></h5>
            {% endif %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h2 class="mt-5">Add Comment</h2>
            <form class="mb-5 mt-4" action="{% url 'mainapp:add_comment' project.slug %}" method="post">
                {% csrf_token %}
                {{comment_form.media}}
                {{comment_form.text }}
                <button class="btn btn-outline-dark float-end mt-3" type="submit">отправить</button>
            </form><br>
            <hr>
            <h2 class="mb-4">Comments</h2>
            {% for comments in project.comment_set.all %}
                {% if comments.user == user %}
                <form action="{% url 'mainapp:delete_comment' comments.pk %}" method="post">
                    {% csrf_token %}
                    <i class="fa-solid fa-user fa-sm"></i>  {{ comments.user }} &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-regular fa-calendar-days fa-sm"></i> {{ comments.dateCreation }}
                    <button class="btn btn-link text-dark text-decoration-none">[ Удалить ]</button>
                </form>
                {% else %}
                <i class="fa-solid fa-user fa-sm"></i>  {{ comments.user }} &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-regular fa-calendar-days fa-sm"></i> {{ comments.dateCreation }}
                {% endif %}
                {{ comments.text|safe }}<br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}