{% extends 'mainapp/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <form method="post">
                {% csrf_token %}
                <label for="">{{ form.name.label }}</label>
                <div class="mb-3">
                    <input class="form-control" type="{{ form.name.field.widget.input_type }}" name="{{ form.name.name }}" id="">
                </div>
                <label for="">{{ form.assistants.label }}</label>
                <div class="mb-3">
                    <select name="{{ form.assistants.name }}" class="form-select" multiple aria-label="multiple select example">
                        {% for value, display in form.fields.assistants.choices %}
                            <option value="{{value}}" {% if form.fields.assistants == value %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label for="">{{ form.project.label }}</label>
                <div class="mb-3">
                    <select class="form-select" name="{{ form.project.name }}" id="">
                        {% for value, display in form.fields.project.choices %}
                            <option value="{{ value }}" {% if form.fields.project == value %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
                {{ form.errors }}
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-dark" type="submit">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}